<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<!-- Cabezera -->
<%- include('layouts/header'); -%>
    <!-- /Cabezera -->

    <body>
        <!-- Pantalla de carga -->
        <%- include('layouts/loader'); -%>

            <!-- Menu -->
            <%- include('layouts/navbar'); -%>
                <!-- / Menu -->

                <!-- Proseso de transacciones -->

                <!-- Formato de division entre barra lateral y contenido -->
                <div class="layout-page">
                    <!-- Divisior del contenido -->
                    <div class="content-wrapper">
                        <!-- Contenido 1 y único en este caso -->
                        <div class="container-xxl flex-grow-1 container-p-y">
                            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Usuario /</span> Cuentas
                                Digitales</h4>

                            <div class="nav-align-top mb-4">
                                <!-- Contenido Tabs -->
                                <div class="tab-content">
                                    <!-- Tab seleccionar cuenta -->
                                    <div class="tab-pane fade active show" id="navs-pills-top-cuenta" role="tabpanel">
                                        <h1>Seleccionen su cuenta digital</h1>

                                        <!-- Tarjeta cuenta -->
                                        <hr>
                                        <div class="row cuenta" id="cuenta-1" onclick="datoActivo('cuenta','cuenta-1')">
                                            <div class="col datos">
                                                <div class="nombre-cuenta">
                                                    <h4>Cuenta de Inversiones</h4>
                                                </div>
                                                <div class="mascara-cuenta"><i>************3456</i></div>
                                            </div>
                                            <div class="col-auto amount">$235,000.005</div>
                                        </div>
                                        <hr>
                                        <!-- /Tarjeta cuenta -->

                                        <!-- Tarjeta cuenta -->
                                        <hr>
                                        <div class="row cuenta" id="cuenta-2" onclick="datoActivo('cuenta','cuenta-2')">
                                            <div class="col datos">
                                                <div class="nombre-cuenta">
                                                    <h4>Cuenta Gastos Venta</h4>
                                                </div>
                                                <div class="mascara-cuenta"><i>************9012</i></div>
                                            </div>
                                            <div class="col-auto amount">$1,850,110.010</div>
                                        </div>
                                        <hr>
                                        <!-- /Tarjeta cuenta -->

                                        <!-- Tarjeta cuenta -->
                                        <hr>
                                        <div class="row cuenta" id="cuenta-3" onclick="datoActivo('cuenta','cuenta-3')">
                                            <div class="col datos">
                                                <div class="nombre-cuenta">
                                                    <h4>Cuenta Caja</h4>
                                                </div>
                                                <div class="mascara-cuenta"><i>************5678</i></div>
                                            </div>
                                            <div class="col-auto amount">$700,000.000</div>
                                        </div>
                                        <hr>
                                        <!-- /Tarjeta cuenta -->

                                        <!-- Tarjeta cuenta -->
                                        <hr>
                                        <div class="row cuenta" id="cuenta-4" onclick="datoActivo('cuenta','cuenta-4')">
                                            <div class="col datos">
                                                <div class="nombre-cuenta">
                                                    <h4>Cuenta Prooverdores</h4>
                                                </div>
                                                <div class="mascara-cuenta"><i>************1234</i></div>
                                            </div>
                                            <div class="col-auto amount">$100,500.99</div>
                                        </div>
                                        <hr>
                                        <!-- /Tarjeta cuenta -->

                                        <p class="mb-0">
                                            Seleccione la cuenta para ver detalles
                                        </p>

                                        <!-- Boton sig -->
                                        <div class="text-end">
                                            <button class="btn btn-primary d-grid w-100">Ir a detalles de
                                                cuenta</button>
                                        </div>
                                        <!-- /Boton sig -->

                                    </div>
                                    <!-- /Tab seleccionar cuenta -->


                                </div>

                            </div>
                            <!-- /Contenido Tabs -->
                        </div>
                    </div>
                </div>
                <!-- /Proseso de transacciones -->

                <!-- scripts -->
                <%- include('layouts/scripts'); -%>

                    <!-- Cambio de tab -->
                    <script type="text/javascript">
                        // Pasa tabs
                        function siguiente(act, paso) {
                            $(act).addClass("disabled");
                            $(paso).removeClass("disabled");
                            $(paso).click();
                        }

                        // Rellena los datos del resume
                        function mostrarResumen() {
                            const cuenta = document.querySelector('.datoActivo .mascara-cuenta > i');
                            const datosAdicionales = document.querySelectorAll(".form-control.editables");
                            const datosCompletar = document.querySelectorAll(".form-control.solo-lectura");
                            datosCompletar[0].value = cuenta.textContent;
                            for (let i = 1; i < datosCompletar.length; i++) {
                                const dato = datosAdicionales[i - 1];
                                const datoIns = datosCompletar[i];
                                datoIns.value = dato.value;
                            }
                        }

                    </script>
                    <!-- /Cambio de tab -->

                    <!-- datos seleccionados -->
                    <script>
                        //Remueve la clase datoActivo de un conjunto determinado y agrega dicha clase a un elemento especifico
                        function datoActivo(clase, dato) {
                            const datos = document.getElementsByClassName(clase);

                            for (let i = 0; i < datos.length; i++) {
                                const element = datos[i];
                                element.classList.remove("datoActivo");
                            }

                            const elemento = document.getElementById(dato);
                            elemento.classList.add("datoActivo");
                        }
                    </script>
                    <!-- /datos seleccionados -->

    </body>

</html>