<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<!-- Cabezera -->
<%- include('layouts/header'); -%>
    <!-- /Cabezera -->


    <body>
        <<!-- Pantalla de carga -->
            <%- include('layouts/loader'); -%>

                <!-- Layout wrapper -->
                <div class="layout-wrapper layout-content-navbar">
                    <div class="layout-container">

                        <!-- Menu -->
                        <%- include('layouts/navbar'); -%>
                            <!-- / Menu -->

                            <!-- Layout container -->
                            <div class="layout-page">
                                <!-- Navbar -->

                                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                                    id="layout-navbar">
                                    <div
                                        class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                            <i class="bx bx-menu bx-sm"></i>
                                        </a>
                                    </div>

                                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                                        <!-- Search -->
                                        <div class="navbar-nav align-items-center">
                                            <div class="nav-item d-flex align-items-center">
                                                <i class="bx bx-search fs-4 lh-0"></i>
                                                <input type="text" class="form-control border-0 shadow-none"
                                                    placeholder="Buscar..." aria-label="Search..." />
                                            </div>
                                        </div>
                                        <!-- /Search -->

                                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                                            <!-- Place this tag where you want the button to render. -->

                                            <!-- User -->
                                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                                <a class="nav-link dropdown-toggle hide-arrow"
                                                    href="javascript:void(0);" data-bs-toggle="dropdown">
                                                    <div class="avatar avatar-online">
                                                        <img src="../assets/img/avatars/1.png" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <div class="d-flex">
                                                                <div class="flex-shrink-0 me-3">
                                                                    <div class="avatar avatar-online">
                                                                        <img src="../assets/img/avatars/1.png" alt
                                                                            class="w-px-40 h-auto rounded-circle" />
                                                                    </div>
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <span class="fw-semibold d-block">John Doe</span>
                                                                    <small class="text-muted">Admin</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown-divider"></div>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bx bx-user me-2"></i>
                                                            <span class="align-middle">My Profile</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bx bx-cog me-2"></i>
                                                            <span class="align-middle">Settings</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <span class="d-flex align-items-center align-middle">
                                                                <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                                                                <span class="flex-grow-1 align-middle">Billing</span>
                                                                <span
                                                                    class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown-divider"></div>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="auth-login-basic.html">
                                                            <i class="bx bx-power-off me-2"></i>
                                                            <span class="align-middle">Log Out</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--/ User -->
                                        </ul>
                                    </div>
                                </nav>

                                <!-- / Navbar -->

                                <!-- Content wrapper -->
                                <div class="content-wrapper">
                                    <!-- Content -->

                                    <div class="container-xxl flex-grow-1 container-p-y">
                                        <div class="row">
                                            <div class="col-sm-12  order-0">
                                                <h1 class="display-4">Notificaciones</h1>
                                                <!-- Transactions -->
                                                <div class="col-md-6 col-lg-10 order-2 ">
                                                    <div class="card h-100">
                                                        <div
                                                            class="card-header d-flex align-items-center justify-content-between">
                                                            <h5 class="card-title m-0 me-2">Ultimos acciones y
                                                                recomendaciones</h5>
                                                            <div class="dropdown">
                                                                <button class="btn p-0" type="button" id="transactionID"
                                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                                </button>
                                                                <div class="dropdown-menu dropdown-menu-end"
                                                                    aria-labelledby="transactionID">
                                                                    <a class="dropdown-item"
                                                                        href="javascript:void(0);">Last 28 Days</a>
                                                                    <a class="dropdown-item"
                                                                        href="javascript:void(0);">Last Month</a>
                                                                    <a class="dropdown-item"
                                                                        href="javascript:void(0);">Last Year</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <ul class="p-0 m-0">
                                                                <li class="d-flex mb-4 pb-1">
                                                                    <div class="avatar flex-shrink-0 me-3">
                                                                        <img src="../assets/img/icons/unicons/paypal.png"
                                                                            alt="User" class="rounded" />
                                                                    </div>
                                                                    <div
                                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                        <div class="me-2">
                                                                            <small
                                                                                class="text-muted d-block mb-1">Paypal</small>
                                                                            <h6 class="mb-0">Se ha recibido $4565.00 USD
                                                                                de la cuenta
                                                                                *******464 con descripcion: 'Pago Renta'
                                                                            </h6>
                                                                        </div>
                                                                        <div
                                                                            class="user-progress d-flex align-items-center gap-1">
                                                                            <h6 class="mb-0">$4565.00</h6>
                                                                            <span class="text-muted">USD</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex mb-4 pb-1">
                                                                    <div class="avatar flex-shrink-0 me-3">
                                                                        <img src="../assets/img/icons/unicons/wallet.png"
                                                                            alt="User" class="rounded" />
                                                                    </div>
                                                                    <div
                                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                        <div class="me-2">
                                                                            <small
                                                                                class="text-muted d-block mb-1">Cuenta
                                                                                ******456</small>
                                                                            <h6 class="mb-0">Se realizó exitosamente el
                                                                                movimiento a la
                                                                                cuenta *******45646</h6>
                                                                        </div>
                                                                        <div
                                                                            class="user-progress d-flex align-items-center gap-1">
                                                                            <h6 class="mb-0">-$7900.00</h6>
                                                                            <span class="text-muted">USD</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex mb-4 pb-1">
                                                                    <div class="avatar flex-shrink-0 me-3">
                                                                        <img src="../assets/img/icons/unicons/chart.png"
                                                                            alt="User" class="rounded" />
                                                                    </div>
                                                                    <div
                                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                        <div class="me-2">
                                                                            <small
                                                                                class="text-muted d-block mb-1">Recomendaciones
                                                                                de
                                                                                Venta</small>
                                                                            <h6 class="mb-0">Un cliente de base está
                                                                                vendiendo el
                                                                                producto 'Leche en Polvo' a ...</h6>
                                                                        </div>
                                                                        <div
                                                                            class="user-progress d-flex align-items-center gap-1">
                                                                            <h6 class="mb-0">Ir a Recomendación.</h6>
                                                                            <span class="text-muted">No me
                                                                                interesa.</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex mb-4 pb-1">
                                                                    <div class="avatar flex-shrink-0 me-3">
                                                                        <img src="../assets/img/icons/unicons/cc-success.png"
                                                                            alt="User" class="rounded" />
                                                                    </div>
                                                                    <div
                                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                        <div class="me-2">
                                                                            <small class="text-muted d-block mb-1">El
                                                                                peso se devalua
                                                                                frente al dolar...</small>
                                                                            <h6 class="mb-0">Dolar: 23.99</h6>
                                                                        </div>
                                                                        <div
                                                                            class="user-progress d-flex align-items-center gap-1">
                                                                            <h6 class="mb-0">Ir a mis cuentas</h6>
                                                                            <span class="text-muted">No recibir
                                                                                Notificaciones como
                                                                                esta.</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex mb-4 pb-1">
                                                                    <div class="avatar flex-shrink-0 me-3">
                                                                        <img src="../assets/img/icons/unicons/wallet.png"
                                                                            alt="User" class="rounded" />
                                                                    </div>
                                                                    <div
                                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                        <div class="me-2">
                                                                            <small
                                                                                class="text-muted d-block mb-1">Recomendaciones
                                                                                de
                                                                                Compra</small>
                                                                            <h6 class="mb-0">El producto 'Tubos PVC 5
                                                                                pulgadas' fue
                                                                                vendido ...</h6>
                                                                        </div>
                                                                        <div
                                                                            class="user-progress d-flex align-items-center gap-1">
                                                                            <h6 class="mb-0">Ver Recomendación</h6>
                                                                            <span class="text-muted">No me
                                                                                interesa.</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex">
                                                                    <div class="avatar flex-shrink-0 me-3">
                                                                        <img src="../assets/img/icons/unicons/cc-warning.png"
                                                                            alt="User" class="rounded" />
                                                                    </div>
                                                                    <div
                                                                        class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                        <div class="me-2">
                                                                            <small
                                                                                class="text-muted d-block mb-1">Movimiento
                                                                                de Cuentas
                                                                                Exitoso...</small>
                                                                            <h6 class="mb-0">Movimiento de la cuenta
                                                                                **********45646 a
                                                                                ***************154688</h6>
                                                                        </div>
                                                                        <div
                                                                            class="user-progress d-flex align-items-center gap-1">
                                                                            <h6 class="mb-0">Borrar Notificación</h6>
                                                                            <span class="text-muted">No notificar este
                                                                                tipo de
                                                                                movimientos</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/ Transactions -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-backdrop fade"></div>
                                </div>
                                <!-- Content wrapper -->
                            </div>
                            <!-- / Layout page -->
                    </div>

                    <!-- Overlay -->
                    <div class="layout-overlay layout-menu-toggle"></div>
                </div>
                <!-- / Layout wrapper -->

                <!-- scripts -->
                <%- include('layouts/scripts'); -%>

    </body>

</html>