<!DOCTYPE html>
<!-- beautify ignore:start -->
<html
  lang="es"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <!-- Cabezera -->
   <%- include('layouts/header'); -%>
  <!-- /Cabezera -->

  <body>
    <!-- Pantalla de carga -->
    <%- include('layouts/loader'); -%>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
          <%- include('layouts/navbar'); -%>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  <a
                    class="github-button"
                    href="https://github.com/themeselection/sneat-html-admin-template-free"
                    data-icon="octicon-star"
                    data-size="large"
                    data-show-count="true"
                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                  >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="auth-login-basic.html">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-fluid flex-grow-1 container-p-y">
              <!-- Layout Demo -->
              <div class="layout-demo-wrapper">
                <div class="layout-demo-placeholder">
                    <form class="form" id="regForm">
                        <h1 class="display-4" id="register">Sistema de Recomendaciones</h1>
                        <div class="all-steps" id="all-steps"> 
                          <span class="step"><i class="fa fa-user"></i></span> 
                          <span class="step"><i class="fa fa-map-marker"></i></span>
                          <span class="step"><i class="fa fa-shopping-bag"></i></span>
                          <span class="step"><i class="fa fa-car"></i></span>
                          <span class="step"><i class="fa fa-spotify"></i></span>
                          <span class="step"><i class="fa fa-mobile-phone"></i></span>
                        </div>
        
                        <div class="tab">
                          <h6>Cual es el nombre de tu empresa?</h6>
                            <p>
                              <input placeholder="Name..." oninput="this.className = ''" name="fname"></p>
                            
                        </div>
                        <div class="tab">
                          <h6>Cual es el giro de tu empresa?</h6>
                            <p><input placeholder="City" oninput="this.className = ''" name="dd"></p>
                            
                        </div>
                        <div class="tab">
                            <h6>Deseas recibir recomendaciones y sugerencias basados en tus compras y tus facturas</h6>
                            <p><input placeholder="Favourite Shopping site" oninput="this.className = ''" name="email"></p>
                         
                        </div>
                        <div class="tab">
                            <h6>En que productos estas interesados adquiriri</h6>
                            <p><input placeholder="Favourite car" oninput="this.className = ''" name="uname"></p>
                        </div>
        
                        <div class="tab">
                            <h6>What's your Favourite Song?</h6>
                            <p><input placeholder="Favourite Song" oninput="this.className = ''" name="uname"></p>
                        </div>
        
        
                        <div class="tab">
                            <h6>What's your Favourite Mobile brand?</h6>
                            <p><input placeholder="Favourite Mobile Brand" oninput="this.className = ''" name="uname"></p>
                        </div>
                        <div class="thanks-message text-center" id="text-message"> <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                            <h3>Gracias por tu apoyo</h3> <span>Recibiras recomendaciones y sugerencias.</span>
                        </div>
                        <div style="overflow:auto;" id="nextprevious">
                            <div style="float:right;">
                              <button type="button"  id="prevBtn" onclick="nextPrev(-1)"><i class="fa fa-angle-double-left"></i></button> 
                              <button type="button" id="nextBtn" onclick="nextPrev(1)"><i class="fa fa-angle-double-right"></i></button> </div>
                        </div>
                    </form>
                </div>
  
              </div>
              <!--/ Layout Demo -->
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->




    <script>
      var currentTab = 0;
      document.addEventListener("DOMContentLoaded", function (event) {


        showTab(currentTab);

      });

      function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        if (n == 0) {
          document.getElementById("prevBtn").style.display = "none";
        } else {
          document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
          document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
        } else {
          document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
        }
        fixStepIndicator(n)
      }

      function nextPrev(n) {
        var x = document.getElementsByClassName("tab");
        if (n == 1 && !validateForm()) return false;
        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        if (currentTab >= x.length) {

          document.getElementById("nextprevious").style.display = "none";
          document.getElementById("all-steps").style.display = "none";
          document.getElementById("register").style.display = "none";
          document.getElementById("text-message").style.display = "block";




        }
        showTab(currentTab);
      }

      function validateForm() {
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        for (i = 0; i < y.length; i++) {
          if (y[i].value == "") {
            y[i].className += " invalid";
            valid = false;
          }


        }
        if (valid) {
          document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid;
      }

      function fixStepIndicator(n) {
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
          x[i].className = x[i].className.replace(" active", "");
        }
        x[n].className += " active";
      }
    </script>
    <style>
        body {
    background: #eee
}

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px
}

#register{

  color: #f6cf40;
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}



.tab input:focus{

  border:1px solid #e98324 !important;
  outline: none;
}

input.invalid {
 
    border:1px solid #e03a0666;
}

.tab {
    display: none
}

button {
    background-color: #f7e347;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus{

  outline: none !important;
}

#prevBtn {
    background-color: #bbbbbb
}


.all-steps{
      text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.step {
       height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #f6993c;
    opacity: 0.5;
}

.step.active {
    opacity: 1
}


.step.finish {
   color: #fff;
   background: #f37d47;
   opacity: 1;

}



.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}
    </style>
    <!-- scripts -->
    <%- include('layouts/scripts'); -%>
  </body>
</html>