<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<!-- Cabezera -->
<%- include('layouts/header'); -%>
    <!-- /Cabezera -->

<body>
    <!-- Pantalla de carga -->
    <%- include('layouts/loader'); -%>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
           <!-- Menu -->
           <%- include('layouts/navbar'); -%>
           <!-- / Menu -->

            <div class="layout-page">


                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Recomendaciones /</span> Divisas
                        </h4>
                        <!-- Navbar -->



                        <!-- Horizontal -->
                        <h5 class="pb-1 mb-4">Divisas Recomendadas...</h5>
                        <div class="row mb-5">
                            <div class="col-md">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img class="card-img card-img-left"
                                                src="https://www.metroworldnews.com/resizer/Tj0w6_YjiMRBiC6wWArI_zxP0wU=/800x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/DKTJUHDY7NEL3G2CRV4TKMHZLU.jpg"
                                                alt="Card image" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Dolares</h5>
                                                <p class="card-text">
                                                    Moneda Americana.
                                                </p>
                                                <p class="card-text"><small class="text-muted">Atualizada hace 1
                                                        hora.</small></p>
                                            </div>
                                            <div class="col-12 mb-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div
                                                            class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                                                            <div
                                                                class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                                                <div class="card-title">
                                                                    <h5 class="text-nowrap mb-2">Comportamiento durante
                                                                        los ultimos 6 meses</h5>
                                                                    <span
                                                                        class="badge bg-label-warning rounded-pill">Year
                                                                        2022</span>
                                                                </div>
                                                                <div class="mt-sm-auto">
                                                                    <small
                                                                        class="text-success text-nowrap fw-semibold"><i
                                                                            class="bx bx-chevron-up"></i> 102%</small>
                                                                    <h3 class="mb-0">Compra:18.99-Venta:23.77</h3>
                                                                </div>
                                                            </div>
                                                            <div id="profileReportChart"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div>

                            <!---->

                        </div>
                        <div class="row mb-5">
                            <div class="col-md">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img class="card-img card-img-left"
                                                src="https://definicionabc.com/wp-content/uploads/economia/Yen.jpg"
                                                alt="Card image" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Yenes</h5>
                                                <p class="card-text">
                                                    Moneda China.
                                                </p>
                                                <p class="card-text"><small class="text-muted">Atualizada hace 2
                                                        hora.</small></p>
                                            </div>
                                            <div class="col-12 mb-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div
                                                            class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                                                            <div
                                                                class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                                                <div class="card-title">
                                                                    <h5 class="text-nowrap mb-2">Comportamiento durante
                                                                        los ultimos 6 meses</h5>
                                                                    <span
                                                                        class="badge bg-label-warning rounded-pill">Year
                                                                        2022</span>
                                                                </div>
                                                                <div class="mt-sm-auto">
                                                                    <small
                                                                        class="text-success text-nowrap fw-semibold"><i
                                                                            class="bx bx-chevron-up"></i> 101%</small>
                                                                    <h3 class="mb-0">Compra:12.49-Venta:15.37</h3>
                                                                </div>
                                                            </div>
                                                            <div id="profileReportChart"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div>

                            <!---->

                        </div>

                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
        <!-- / Layout wrapper -->

        <!-- scripts -->
        <%- include('layouts/scripts'); -%>
</body>

</html>