<!-- Pantalla de carga -->
<div id="loader">
    <div class="spinner-grow text-warning ajuste" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!-- Pantalla de carga -->