<!-- Navigation-->

<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <span class="app-brand-text demo menu-text fw-bolder ms-2">Scalon by</span>
                <img src="../assets/img/favicon/base.png" height="25" alt="">

        </a>

        <a href="#" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="index.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Menu</div>
            </a>
        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Transacciones</span>
        </li>

        <li class="menu-item">
            <a href="hacer-Transacciones.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Realizar Transferencias</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="ver-movimientos.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Ver Movimientos</div>
            </a>
        </li>

        <!-- Components -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Sugerencias</span></li>
        <!-- Cards -->
        <li class="menu-item">
            <a href="sugerencias-compra.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Compras</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="sugerencias-venta.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Ventas</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="divisas.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Divisas</div>
            </a>
        </li>

        <!-- Forms & Tables -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Mi cuenta</span></li>
        <!-- Forms -->
        <li class="menu-item">
            <a href="cuentas.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Cuentas Digitales</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="notificaciones.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Notificaciones</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="log-accesos.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Accesos</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="autoricaciones-equipos.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Autorizaciones</div>
            </a>
        </li>


    </ul>
</aside>
<!-- / Menu -->
<!-- Navigation-->